<div id="process" class="modal">
    <button class="btn btn-close" data-modal-close>x</button>
    <div class="modal-content">
        <h3>Process modal window</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, eum asperiores quod recusandae itaque sint perspiciatis veniam molestiae facere, magni dolor sed nesciunt, expedita dolorem voluptates adipisci sequi numquam iure.
    </div>
    <button class="btn btn-close"  data-modal-close type="button">Close</button>
</div>

<div id="feedback" class="modal">
    <button class="btn btn-close" data-modal-close>x</button>
    <div class="modal-content">
        <h3>Feedback modal window</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, eum asperiores quod recusandae itaque sint perspiciatis veniam molestiae facere, magni dolor sed nesciunt, expedita dolorem voluptates adipisci sequi numquam iure.
    </div>
    <button class="btn btn-close"  data-modal-close type="button">Close</button>
</div>

<div id="qwerty" class="modal">
    <button class="btn btn-close" data-modal-close>x</button>
    <div class="modal-content">
        <h3>Qwerty modal window</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, eum asperiores quod recusandae itaque sint perspiciatis veniam molestiae facere, magni dolor sed nesciunt, expedita dolorem voluptates adipisci sequi numquam iure.
    </div>
    <button class="btn btn-close"  data-modal-close type="button">Close</button>
</div>